
body {
    background-image: url("./background.jpg");
}

h1 {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    width: 400px;
}

h2 {
    font-size: 40px;
}

tr {
    height: 251.6px;
}

td {
    padding: 0px;
}

li {
    display: flex;
    list-style: none;
    float: left;
    width: 100%;
    font-size: 30px;
    padding-bottom: 50px;
}

span {
    padding-left: 7px;
    padding-right: 7px;
}

button {
    display: block;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}

#gameBoard {
    background-image: url("./gameBoard.png");
    height: 800px;
    width: 800px;
    margin: auto;
    margin-top: 140px;
}

#scorePad {
    position: absolute;
    top: 492px;
    width: 475px;
    height: 555px;
    background-image: url("./scorePad.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#scorePadText {
    padding-left: 20px;
    width: 100%;
}

.knotPlacement {
    background-image: url("./redKnot.png");
    background-repeat: no-repeat;
    background-position: center;
}

.crossPlacement {
    background-image: url("./blueCross.png");
    background-repeat: no-repeat;
    background-position: center;
}

#currentTurn {
    font-size: 30px;
    text-align: center;
    background-color: white;
}