
html {
    min-width: 100%;
    min-height: 100%;
    font-family: 'Permanent Marker', cursive;
}

body {
    height: 1000px;
    background-image: url("./background.jpg");
}

h1 {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    width: 400px;
    color: darkred;
    border: 4px solid gray;
}

h2 {
    font-size: 40px;
    color: darkred;
}

tr {
    height: 251.6px;
}

td {
    padding: 0px;
}

li {
    display: flex;
    list-style: none;
    float: left;
    width: 100%;
    font-size: 30px;
    padding-bottom: 50px;
    color: black;
}

span {
    padding-left: 7px;
    padding-right: 7px;
}

button {
    display: block;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}

#gameBoard {
    background-image: url("./gameBoard.png");
    height: 800px;
    width: 800px;
    margin: auto;
    margin-top: 100px;
}

#scorePad {
    display: flex;
    position: relative;
    bottom: 550px;
    width: 475px;
    height: 555px;
    background-image: url("./scorePad.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#scorePadText {
    padding-left: 20px;
    width: 100%;
}

.knotPlacement {
    background-image: url("./redKnot.png");
    background-repeat: no-repeat;
    background-position: center;
}

.crossPlacement {
    background-image: url("./blueCross.png");
    background-repeat: no-repeat;
    background-position: center;
}

#currentTurn {
    font-size: 30px;
    text-align: center;
    width: 500px;
    margin: auto;
    background-color: white;
    color: black;
    margin-top: 15px;
    border: 4px solid gray;
}

#intScreenEnabled {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    opacity: 0;
}